{% extends 'layouts/main.html' %}

{% block title %}
	{{ drink.title }} | Drink
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ drink.title }}
		</h1>

		<div class="btn-group btn-group-justified m-4">
			<a href="/drinks/{{ drink.id }}/edit" class="btn btn-outline-warning" role="button">
				<span class="fa fa-edit"></span>EDIT
			</a>
			<a class="btn btn-outline-danger" role="button" onclick="deleteDrink(this)" data-id="{{ drink.id }}">
				<span class="fa fa-trash"></span>DELETE
			</a>
		</div>

		<p class="subtitle">
			INGREDIENTS
		</p>

		<div class="genres">
			{% for ingredient in drink.recipe %}
			<span class="genre">{{ ingredient.name }}</span>
			{% endfor %}
		</div>
	</div>
	<div class="col-sm-6">
	</div>
</div>

{% endblock %}

