{% extends 'layouts/main.html' %}

{% from "utils/_render_pagination.html" import render_pagination %}

{% block title %}
	Uda-Social Blogging | Posts
{% endblock %}

{% block content %}
	{% if pagination %}
	<div class="pagination">
		{{ render_pagination(pagination, '.posts') }}
	</div>
	{% endif %}

	<ul class="items">
		{% for post in posts %}
		<li>
			<a href="/posts/{{ post.id }}">
				<i class="fas fa-sticky-note-o"></i>
				<div class="item">
					<blockquote class="blockquote">
						<p class="mb-0 text-left">
							{{ post.title }}
						</p>
						<footer class="blockquote-footer mt-0 text-right">
							{{ post.author }}, 
							<cite>
								{{ moment(post.timestamp).fromNow() }}
							</cite>
						</footer>
					</blockquote>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endblock %}