{% extends 'layouts/main.html' %}

{% block title %}
	{{ user.nickname }} | Profile
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<!-- profile header -->
		<h1 class="monospace">
			{{ user.nickname }}
		</h1>
		
		<!-- management -->
		<div class="btn-group btn-group-justified m-4">
			<a href="/users/{{ user.id }}/edit" class="btn btn-outline-warning" role="button">
				<span class="fa fa-edit"></span>EDIT
			</a>
			<a class="btn btn-outline-danger" role="button" onclick="deletePost(this)" data-id="{{ user.id }}">
				<span class="fa fa-trash"></span>DELETE
			</a>
		</div>

		<!-- about me -->
		{% if user.about_me %}
		<p class="subtitle">
			{{ user.about_me }}
		</p>
		{% endif %}

		<!-- location -->
		{% if user.location %}
		<p>
			<i class="fas fa-globe-americas"></i> 
			From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
		</p>
		{% endif %}

		<!-- time stats -->
		<p>
			<i class="fas fa-calendar-check"></i>
			Last Updated {{ moment(user.last_updated).format('L') }}.
		</p>
		<p>
			<i class="fas fa-clock"></i>
			Last Seen {{ moment(user.last_seen).fromNow() }}.
		</p>

		<!-- follows -->
		{% if not user["is_the_same_user"] %}
			{% if user["is_following"] %}
			<a href="{{ url_for('follows.unfollow', user_id=user.id) }}"
				class="btn btn-default">Unfollow
			</a>
			{% else %}
			<a href="{{ url_for('follows.follow', user_id=user.id) }}"
				class="btn btn-default">Follow
			</a>
			{% endif %}
		{% endif %}
		<a href="{{ url_for('follows.followers', user_id=user.id) }}">
			Followers: <span class="badge">{{ user["num_followers"] }}</span>
		</a>
		<a href="{{ url_for('follows.followed', user_id=user.id) }}">
			Following: <span class="badge">{{ user["num_followed"] }}</span>
		</a>
	</div>
	
	<div class="col-sm-6">
	</div>
</div>

{% endblock %}

